name: Linux

on:
  push:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  CMake-Linux:
    runs-on: ubuntu-22.04

    env:
      CMAKE_BUILD_DIR: build
      VCPKG_ROOT: ${{github.workspace}}/vcpkg

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install autoconf
        run: sudo apt-get install -y autoconf autoconf-archive automake libtool
      - name: Fetch Vcpkg commits
        working-directory: vcpkg
        run: git fetch --unshallow
      - name: Install local vcpkg
        working-directory: vcpkg
        run: ./bootstrap-vcpkg.sh
      - uses: lukka/get-cmake@latest
      - name: CMake configure
        run: |
          cmake -S . -B ${{env.CMAKE_BUILD_DIR}} -DCMAKE_BUILD_TYPE=RelWithDebInfo
      - name: CMake build
        run: |
          cmake --build ${{env.CMAKE_BUILD_DIR}} --config Release
