name: Linux

on:
  push:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  CMake-Linux:
    runs-on: ubuntu-22.04

    env:
      CMAKE_BUILD_DIR: build
      VCPKG_ROOT: ${{github.workspace}}/vcpkg

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install build dependencies
        run: sudo apt-get install -y autoconf autoconf-archive automake libtool
          build-essential git make pkg-config cmake ninja-build gnome-desktop-testing
          libasound2-dev libpulse-dev libaudio-dev libfribidi-dev libjack-dev libsndio-dev
          libx11-dev libxext-dev libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev
          libxss-dev libxtst-dev libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev
          libgles2-mesa-dev libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev
          libthai-dev Ubuntu 22.04+ can also add libpipewire-0.3-dev libwayland-dev libdecor-0-dev liburing-dev
      - name: Needed build tool
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Fetch Vcpkg commits
        working-directory: vcpkg
        run: git fetch --unshallow
      - name: Install local vcpkg
        working-directory: vcpkg
        run: ./bootstrap-vcpkg.sh
      - uses: lukka/get-cmake@latest
      - name: CMake configure
        run: |
          cmake -S . -B ${{env.CMAKE_BUILD_DIR}} -DCMAKE_BUILD_TYPE=RelWithDebInfo
      - name: CMake build
        run: |
          cmake --build ${{env.CMAKE_BUILD_DIR}} --config Release
